*{
    margin: 0px;
    padding: 0px;
}
.one{
    background-color: #000000;
    height: 100px;
}
.onez{
    display: inline-block;
}
.onez h1{
    padding: 25px;
    color: #ffffff;
    font-variant: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one1{
    display: inline-block;
}
.one1 a{
    text-decoration: none;
    margin-left: 600px;
    color: #ffffff;
}
.one2{
    display: inline-block;
    margin-left: 20px;
}
.one2 a{
    text-decoration: none;
    color:white;
}
.one3{
    display: inline-block;
    margin-left: 20px;
}
.one3 a{
    text-decoration: none;
    color: white;
}
.one4{
    display: inline-block;
    margin-left: 20px;
}
.one4 a{
    text-decoration: none;
    color: white;
    }
.one5{
    display: inline-block;
    margin-left: 20px;
    }
.one5 a{
    text-decoration: none;
    color: white;
}
.two{
    background-color: #6d6c6c;
    height: 300px;
    
}
.two h1{
    color: #ffffff;
    margin-left: 20px;
}
.two p{
    margin-left: 20px;
    color: #000000;
}
.two img{
    margin-left: 60%;
}
.two button{
    padding: 10px;
    background-color:orange;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
.three{
    background-color: #eeb6b6;
    height: 400px;
}
.three1{
    width: 35%;
    display: inline-block;
}
.three h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.three1 p{
    margin-left: 20px;
}
.three1 img{
    margin-left: 20px;
}
.three1 button{
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    background-color: orange;
}
.three2{
    width: 35%;
    display: inline-block;
}
.three h2{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.three2 p{
    margin-left: 20px;
}
.three2 img{
    margin-left: 20px;
}
.three2 button{
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    background-color: orange;
}
.three3{
    width: 25%;
    display: inline-block;
}
.three h3{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.three3 p{
    margin-left: 20px;
}
.three3 img{
    margin-left: 20px;
}
.three3 button{
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    background-color: orange;
}
.four{
    background-color: #ff0000;
    height: 300px;
}
.eight{
    width: 35%;
    display: inline-block;
    padding: 10px;
}
.zin{
    width:5%;
    display: inline-block;
}
.zin h5{
    background-color: #ffffff;
    border-radius: 2px;
    padding: 2px;
}
.zon{
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
.zon p{
    font-size:10px;
}
.nine{
    width:30%;
    display: inline-block;
    padding:10px;
    margin-right: 20px;
    vertical-align: top;
}
.ten{
    width: 25%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}
.five{
    background-color: #000000;
    height: 100px;
    color: aliceblue;
    text-align: center;
    padding: 25px;

}
